@font-face {
  font-family: "Uni Sans Thin";
  src: url("unifont/Uni Sans Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans Heavy";
  src: url("unifont/Uni\ Sans\ Heavy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 100%;
}

body {
  background-color: #be6b41;
  color: #fadbbd;
  --primary: #ffb561;
  --secondary: #162731;
  --accent: #0573e1;
  font-family: "Uni Sans Thin";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Uni Sans Heavy";
}

header {
  background-color: var(--accent);
}

.relaxlogoszoveg {
  text-align: center;
}

.relaxlogoszoveg img {
  width: 6.078125vw;
  display: block;
  margin: auto;
}

footer {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.logo-container {
  position: relative;
  display: inline-block;
}

.logo-container::after {
  content: "";
  position: absolute;
  bottom: -1.5vw;
  left: 50%;
  transform: translateX(-50%);
  width: 6vw;
  height: 3vw;
  border-radius: 50%;
  background: var(--accent);
}

.text-gradient {
  background: rgb(190, 107, 65);
  background: linear-gradient(
    90deg,
    rgba(190, 107, 65, 1) 0%,
    rgba(238, 186, 108, 1) 35%
  );
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.text-gradient:hover {
  background: rgb(255, 181, 97);
  background: linear-gradient(
    90deg,
    rgba(255, 181, 97, 1) 0%,
    rgba(201, 135, 36, 1) 35%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
