@font-face {
  font-family: "Uni Sans Thin";
  src: url("unifont/Uni Sans Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans Heavy";
  src: url("unifont/Uni\ Sans\ Heavy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uni Neue Light";
  src: url("unifont/UniNeue-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font credit-et később az oldalon elhelyezni valahol: www.fontfabric.com*/

html {
  font-size: 100%;
}

p {
  font-family: "Uni Neue Light";
}

body {
  --bg: #be6b41;
  --normaltext: #fadbbd;
  --primary: #ffb561;
  --secondary: #162731;
  --accent: #0573e1;
  background-color: var(--bg);
  color: var(--bg);
  font-family: "Uni Sans Thin";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Uni Sans Heavy";
}

header {
  background-color: var(--accent);
}

.relaxlogoszoveg {
  text-align: center;
}

.relaxlogoszoveg img {
  width: 8.078125vw;
  display: block;
  margin: auto;
}

footer {
  color: var(--normaltext);
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.logo-container {
  margin-top: 100px;
  position: relative;
  display: inline-block;
}

.logo-container::before {
  content: "Relax & Sea";
  position: absolute;
  font-family: "Uni Sans Heavy";
  text-align: center;
  font-size: large;
  color: var(--normaltext);
  top: -20%;
  left: -1vw;
  width: 150px;
}

.logo-container:hover::before {
  color: var(--primary);
}

.logo-container::after {
  content: "";
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 8.8859375vw;
  height: 8.8859375vw;
  border-radius: 50%;
  background: var(--accent);
  z-index: -1;
}

#login {
  font-family: "Uni Sans Heavy";
}

.nav-link.text-gradient {
  background: rgb(190, 107, 65);
  background: linear-gradient(
    0deg,
    rgb(234, 91, 19) 10%,
    rgba(238, 186, 108, 1) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link.text-gradient:hover {
  background: rgb(255, 181, 97);
  background: linear-gradient(
    0deg,
    rgba(255, 181, 97, 1) 10%,
    rgba(234, 91, 19, 1) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 6px rgba(234, 91, 19, 0.3),
    -2px -2px 6px rgba(238, 186, 108, 0.3);
}

.nav-link.active.text-gradient,
.nav-link.active.text-gradient:hover {
  background: rgb(255, 181, 97);
  background: linear-gradient(
    0deg,
    rgba(255, 181, 97, 1) 10%,
    rgba(234, 91, 19, 1) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.nav-link.active.text-gradient::before {
  top: 0;
}
.nav-link.active::after {
  bottom: 0;
}

.nav-link.active.text-gradient::before,
.nav-link.active.text-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1.1px;
  background: linear-gradient(
    0deg,
    rgba(255, 181, 97, 1) 10%,
    rgba(234, 91, 19, 1) 70%
  );
}

form {
  visibility: hidden;
}

#regurlap {
  font-family: "Uni Neue Light";
  padding: 0.8%;
  visibility: visible;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  background-color: #052443ff;
  color: var(--normaltext);
  margin-top: 1rem;
}
#regurlap button {
  background-color: #fcfbcfff;
  color: #052443ff;

  display: block;
  margin: 0 auto;
  font-weight: bold;
}

#regurlap img {
  max-width: 25%;
  max-height: 25%;
  margin: 0 auto;

  float: right;
}
.uszoveg {
  background-color: #eaeaea;
  width: 70%;
  font-weight: bold;
}

#regurlap input {
  border: 2px solid var(--secondary);
}

#regurlap button:hover {
  background-color: #f86a5eff;
  color: var(--normaltext);
}

.foglalasgomb {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 70px;
  transition: all 0.2s;
  background-color: #0063c6;
}

.foglalasgomb:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.foglalasgomb:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.foglalasgomb::after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  transition: all 0.4s;
}

.foglalasgomb:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
}

