@font-face {
  font-family: "Uni Sans Thin";
  src: url("unifont/Uni Sans Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans Heavy";
  src: url("unifont/Uni\ Sans\ Heavy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 100%;
}

body {
  background-color: #be6b41;
  color: #fadbbd;
  --primary: #ffb561;
  --secondary: #162731;
  --accent: #0573e1;
  font-family: "Uni Sans Thin";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Uni Sans Heavy";
}

header {
  background-color: var(--accent);
}

.relaxlogoszoveg {
  text-align: center;
}

.relaxlogoszoveg img {
  width: 8.078125vw;
  display: block;
  margin: auto;
}

footer {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.logo-container {
  margin-top: 100px;
  position: relative;
  display: inline-block;
}

.logo-container::before {
  content: "Relax & Sea";
  position: absolute;
  font-family: "Uni Sans Heavy";
  text-align: center;
  font-size: large;
  color: #fadbbd;
  top: -20%;
  left: -1vw;
  width: 150px;
}

.logo-container:hover::before {
  color: #ffb561;
}

.logo-container::after {
  content: "";
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 8.8859375vw;
  height: 8.8859375vw;
  border-radius: 50%;
  background: var(--accent);
  z-index: -1;
}

#login {
  font-family: "Uni Sans Heavy";
}

.text-gradient {
  background: rgb(190, 107, 65);
  background: linear-gradient(
    0deg,
    rgb(234, 91, 19) 10%,
    rgba(238, 186, 108, 1) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient:hover {
  background: rgb(255, 181, 97);
  background: linear-gradient(
    0deg,
    rgba(255, 181, 97, 1) 10%,
    rgba(234, 91, 19, 1) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
