# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

RewriteRule ^([a-z]+)/$ index.php?page=$1 [nc,qsa]

RewriteRule ^account/([a-z]+)$ index.php?page=account&action=$1

RewriteRule ^api/([a-z]+)$   assets/php/api/api.php?view=all&table=$1 [nc,qsa]

RewriteRule ^api/([a-z]+)/([0-9]+)$   assets/php/api/api.php?view=single&table=$1&id=$2 [nc,qsa]

# localhost/api/tabla/  -> php/api/api.php?view=all&table=tabla
